<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passport | Tutorial</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if (!isAuthenticated) { %>
            <li><a href="/login">Login</a></li>
          <% } else { %>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if (!isAuthenticated) { %>
      <h1>Hello User</h1>
    <% } else { %>
      <h1>Hello <%= user.name %>!</h1>
    <% } %>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
